* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, ol {
    list-style-type: none;
    margin-bottom: 1rem;
}

p { 
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

body { 
    line-height: 1.6;
}

html { 
    font-size: 20px;
    scroll-behavior: smooth;
}

html {
  scrollbar-width: thin;
//   scrollbar-color: var(--primary) var(--white);
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important; 
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: aqua;
  border-radius: 8px;
  border: 2px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

@media (max-width: 1200px) { html { font-size: 18px; } }
@media (max-width: 992px) { html { font-size: 18px; } }
@media (max-width: 768px) { html { font-size: 17px; } }
@media (max-width: 600px) { html { font-size: 16px; } }