<div class="sidebar-main sidebar-close">
    <div class="sidebar">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, veritatis obcaecati! Sequi, minus illo? Maiores officia illo quos praesentium fugit! Praesentium ullam debitis, qui sapiente, repudiandae ipsam ad nostrum accusantium hic veritatis laboriosam officia aliquid ea commodi quod optio excepturi ducimus ratione consequuntur tempora odit molestias magnam. Laudantium ipsam possimus saepe animi vel voluptatibus at facere, libero natus fugiat magnam recusandae perferendis perspiciatis debitis omnis dolor praesentium unde error beatae reprehenderit, rem, doloribus minima ipsum. Eos nulla vero commodi cupiditate laboriosam saepe aspernatur distinctio dicta non, repellendus minima! Saepe tempora minus magni voluptas tenetur ut consectetur eum, culpa dolor ratione.
    </div>
    <div class="toggle-sidebar-icon">
        <img src="assets/images/logo/mini-logo-black-yellow-removebg.png" alt="">
    </div>
</div>