.profile-main-area { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
        .information-panel, .profile-page-outlet-area {
        width: 100% !important;
    }
    .profile-page-outlet-area { 
        
    }
}